option_settings:
  aws:elbv2:listener:default:
    ListenerEnabled: 'false' 
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:225302355310:certificate/954585b1-f04c-46ea-a207-7c9981df9fc9
  aws:elasticbeanstalk:environment:process:https:
    Port: '80'
    Protocol: HTTP  
  aws:autoscaling:asg:
    Availability Zones: Any
    MaxSize: '1'
    MinSize: '1'     
