{% extends 'professors/base.html' %}
{% block content %}
    <!-- This is search result page (Kento)  -->
    <!-- /search/<str:prof_name>/ (search term)
    eg) /search/bita -->

    <!-- I'll pass the list of professors with their data -->
    <div>
        <p>this is result of your search</p>
        <a href="https://www.ratemyprofessors.com/search/teachers?query=a&sid=U2Nob29sLTQwMTg=">Here</a>
        <p>searched by {{ search_term }}</p>
        {% for prof in results %}
            <p>{{ prof.name }}</p>
            <p>{{ prof.email }}</p>
            <p>{{ prof.avgRate }}</p>
        {% endfor %}
    </div>
{% endblock %}